<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Logo</a>

    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="about">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="settings">Settings</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="profile">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="schedule">Schedule</a>
        </li>
    
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="policies-management">Policies Management</a>
        </li>

        <!-- <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="configure-policy">Configure Policy</a>
        </li> -->
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="admin/Login">Login</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="admin/listing">List</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="user/Login1">Login1</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="user/listing2">List2</a>
        </li>




        <!-- Dropdown -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" routerLink="managment" id="navbardrop" data-toggle="dropdown">
          managment
        </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" routerLink="product">product</a>
                <a class="dropdown-item" routerLink="services">services</a>
                <a class="nav-item" routerLink="contact">contact</a>
            </div>
            <a class="nav-link" routerLink="event">Events</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="employee-management">Employee</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="client-management">Client Mng</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="project-management">Project Mng</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="placement-drive-management">Placement</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="angular-demo">Angular Demo</a>
        </li>
       
    </ul>
</nav>
<br>
<router-outlet></router-outlet>
  
  