<div class="container">
    <div class="row">
        <div class="col-3">
        <h1 class="text-center box" style="border: 5px solid black;" >FENSA</h1>
        <h2>Registered Company 31984</h2>
        </div>
     </div>
     <div class="row">
        <div class="col-12">
            <h1 class="text-center">{{title}}</h1>
             <h2 class="text-center text">SASH WINDOWS</h2>
             <h2 class=" lead text-center website">website:<a class="text-primary" routerLink="">acornsashwindows.co.uk</a></h2>
             <h2 class="lead text-center website">Email:<a class="text-primary" routerLink="">info@acornsashwindows</a></h2>
             <h2 class="text-center">Post: 7a Grand Parade, Green Lanes, London, N4 1JX</h2>
             <h2 class="text-center">Phone: 07525 326737</h2>
             <h2 class="text-center website">VAT Registration Number: 975 3795 60</h2>
             <br>
             <h1 class="text2 line">Terms and Conditions</h1>
             
             <h3 class="cost">Additional Costs</h3>
             <p>
                We make every effort to identify and price all required Work upfront. After invasive investigation, however, we may discover
                unforeseen problems - deeper rot, for example. In such an instance, we will recommend extra Work at extra indicative cost. By
                giving your consent to extra Work you agree to pay us the indicated extra costs. Also, you agree to pay us extra for the re-
                glazing of panes of glass broken during Work when there has been no avoidable error on our part. Old sashes, for example,
                contain thin glass vulnerable to vibrations caused by machining.</p>
                <br>
                <h3 class="cost">Payments</h3>
                <p>
                    Your Deposit, Balance 1 and Balance 2 etc. payments are due no later than the respective Due Dates specified in your Project
                    and Payment Schedule. We reserve the right to cancel our Guarantee and/or abandon Work if you do not make a payment on
                    time or in full. Should you instigate a pause, delay or change in Work you agree to pay us on our request an unscheduled
                    interim payment to cover the price of Work already completed and up to a 100% deposit of the price of the previously agreed
                    Work that remains outstanding. All products are the property of Acorn Sash Windows until payment is received in full. In
                    payment disputes, the decision of Acorn Sash Windows is ultimate and final.</p>
                    <br>
                    <h3 class="cost">Curtains, Furniture and Breakages</h3>
                    <p>We require that you clear away curtains and blinds etc. and all nearby furniture, fixtures and belongings etc. from work areas.
                        We will not repair or replace, or provide reimbursement for, damaged items not removed from work areas prior to our arrival.
                        We accept no responsibility for the safety of any person, pet or other animals within work areas.
                        </p>
                        <br>
                        <h3 class="cost">Keys</h3>
                        <p>We require that you supply us with keys to windows and doors on our request for the carrying out of Work. </p>
                        <br>
                        <h3 class="cost">Parking and Congestion Charges</h3>
                        <p>
                            You will pay us the face value of Congestion Charge fees that we incur during Work. If parking restrictions apply where we want
                            to park to carry out Work, we require that you supply for us for the duration of Work off-street parking as we require, or
                            enough Visitor's or Tradesman's (or other) parking permits for us to park as we require in the nearest Controlled Parking Zone.
                            For time wasted due to inadequate parking, you agree to pay us £35 plus VAT per workman per hour or part hour. Also, you
                            agree to pay us the face value of Pay & Display tickets or other parking fees and Penalty Charge Notices or other fines incurred.
                            We reserve the right to abandon Work if you do not supply us with parking permits.</p>
                            <br>
                            <h3 class="cost">Permissions</h3>
                            <p>You may require Planning Permission for Work if it includes the installation of complete new windows and you live in a flat or
                                maisonette, if you live in a Conservation Area under Article 4 Direction, or if you live in a listed Building. If you are a
                                Leaseholder you may also require the consent of your Freeholder. Other permissions may also be required. The owner of the
                                property is legally responsible for obtaining relevant Planning Permission and ensuring Building Regulations compliance.
                                </p>
                                <br>
                                <h3 class="cost">Guarantee</h3>
                                <p>For Option A work, Acorn Sash Windows will rectify defective workmanship free of charge for up to 1 year after the completion
                                    date and supply replacement materials free of charge for up to 1 year after the completion date. For Option B work, Acorn Sash
                                    Windows will rectify defective workmanship free of charge for up to 1 year after the completion date and supply replacement
                                    materials free of charge for up to 5 years after the completion date. For Option C work, Acorn Sash Windows will rectify
                                    defective workmanship free of charge for up to 5 years after the completion date and supply replacement materials free of
                                    charge for up to 10 years after the completion date. Our Insurance-Backed Guarantee is provided by GGF Insurance Ltd. In the
                                    event that Acorn Sash Windows should cease trading, GGF Insurance Ltd. will fulfil our guarantee to you and/or refund all
                                    deposit amounts paid for the installation of complete new box sash windows, in line with their terms and conditions. In
                                    Guarantee disputes, the decision of Acorn Sash Windows is ultimate and final.</p>
                                    <br>
                                    <h2 class=" lead text-center website"><a class="text-primary" routerLink="">www.acornsashwindows.co.uk</a></h2>
                                    <h2 class=" lead text-center website"><a class="text-primary"  routerLink="">Testimonials</a> - 
                                        <a class="text-primary" routerLink=""> Description of Works</a> —  <a class="text-primary"  routerLink="configure-policy" >Terms and Conditions</a> —
                                        <a class="text-primary"  routerLink=""> Contract of Works</a>
                                    </h2>
                                    <br>
                                    <h4 class="text-center">Page 1 of 1</h4>




             


         </div>
     </div>
</div>
